.metadata/**
PT/InitializeData/playersavefile.txt
PT/InitializeData/mapsavefile.txt
PT/.classpath
*.class
*.lock
*.version
MyGame/PT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.resources
*.prefs
MyGame/PT/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
*.xml
PT/.classpath
*.class
*.class
*.ini
MyGame/PT/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
MyGame/PT/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
MyGame/PT/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.xmi
MyGame/PT/.metadata/.mylyn/repositories.xml.zip
*.class
PT/bin/Engines/MenuEngine.class
*.zip
PT/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
*.dat
PT/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.class
PT/bin/Engines/MapEngine.class
